/****************************************************/
/*********************** FONTS *********************/
/**************************************************/
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


/************************************************/

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

/******************************************************************/
/******   article  ***********************************************/
/****************************************************************/

article{
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px 40px;
}

/****************************************************/
/******  article-left  *****************************/
/**************************************************/

article .article-left{
    width: 100%;    
    height: 30vh;
    background-color: #f6f2f2;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1), 0 15px 12px rgba(0,0,0,0.1);
    border-radius: 5px;
} 
/************************/
/***article-left-head***/
/**********************/

article .article-left .article-left-head{
    height: 40px;
    background-color: #222222;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

article .article-left .article-left-head h1{
    font-size: 25px;
    color: aliceblue;
    padding-left: 30px;
}

/************************/
/***article-left-form***/
/**********************/

article .article-left form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 10px 30px;
}


article .article-left form label{
    font-size: 20px;    
    color: #2e2e2e;
}


article .article-left form input{
    width: 95%;
    padding: 10px 15px 10px 10px;
    margin: 0.5rem 0;
    display: block;
    border: 1px solid #ccc;
    font-size: 1.1rem;
}

article .article-left form input::placeholder{
    font-size: 1.1rem;
    
}

article .article-left form select{
    width: 100%;
    padding: 8px 0px 8px 10px;
    margin: 0.5rem 0;
    display: block;
    border: 1px solid #ccc;
}

article .article-left form .article-left-quantity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

article .article-left form .div-3{
    width: 30%;
}

article .article-left form p{
    color: #c93333;
    text-align: center;
    font-size: 25px;
    height: 40px;
}

article .article-left form .add-btn{    
    height: 60px;
    background-color: #222222;
    color: #fff;    
    padding: 20px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: .3s ease-in-out;
}

/****************************************************/
/******  article-right  *****************************/
/**************************************************/

article .article-right{
    width: 100%;
    height: 60vh;
    background-color: #f6f2f2;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1), 0 15px 12px rgba(0,0,0,0.1);
    border-radius: 5px;    
} 

/************************/
/***article-right-head**/
/**********************/

article .article-right .article-right-head{
    height: 40px;
    background-color: #222222;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

article .article-right .article-right-head h1{
    font-size: 25px;
    color: aliceblue;
    padding-left: 30px;
}

/******************************/
/***article-right-search-bar**/
/****************************/

article .article-right .article-right-search{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 20px 30px;
}

article .article-right .article-right-search input,select{
    padding: 5px;
    font-size: 16px;
}

article .article-right .article-right-search button{
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

article .article-right .article-right-search label{
    font-size: 20px;
    padding: 5px;
}

article .article-right .article-right-table{
    overflow-y: scroll;
    height: 75%;
    padding: 0 20px;
}

article .article-right .article-right-table table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

article .article-right .article-right-table table td,th{
    border: 1px solid black;
    padding: 10px;
}

article .article-right .article-right-table table th{
    font-size: 20px;
}

article .article-right .article-right-table table tr:nth-child(even) { background-color : #a5aaac88; }
article .article-right .article-right-table table tr:nth-child(odd)  { background-color : #e3e5e794; }





/*********************************************************************/
/************************** responsive styling **********************/
/*******************************************************************/
@media only screen and (max-height: 900px) {
    article .article-left .article-left-head{
        padding: 5px;
    }
    
    article .article-left .article-left-head h1{
        font-size: 25px;
    }
    
    article .article-left form label{
        font-size: 18px;
    }
    
    article .article-left form input{
        padding: 5px 10px 5px 10px;
    }
    article .article-left form input::placeholder{
        font-size: 1rem;
    }
    article .article-left form select{
        padding: 4px 5px 4px 5px;
    }
    article .article-left form .article-left-quantity-units{
        width: 60%;
        margin-right: 15px;
    }
    article .article-right .article-right-table{
        height: 78%;
    }

    article .article-right .article-right-head h1{
        font-size: 25px;
    }
    
    article .article-right .article-right-search input,select{
        padding: 4px 5px 4px 5px;
    }
    
    article .article-right .article-right-search label{
        font-size: 18px;
    }
    
    article .article-right .article-right-table table th{
        font-size: 18px;
    }
}


@media only screen and (max-width: 1100px) {
    article{
        width: 100%;
        height: 93vh;
        padding: 30px 10px;
    }
}